* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 15px;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: auto;
    justify-self: center;
    
}
h1, div {
    font-size: 25px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
    text-align: center;
    gap: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
input[type="text"], input[type="number"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45%;
}
button {
    padding: 5px;
    background-color: #700d0d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
#chute {
    width: 45%;
    padding: 5px;
    padding-bottom: 5px;
}
button:hover {
    background-color: #300202;
}
#title {
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#novoJogo {
    width: 50%;
    justify-self: center;
}